<%- include('header') -%>
    <header>
        <h1><%=titre%></h1>
    </header>
    <section>
        <h1><%= message %></h1>
        <h2><%= error.status %></h2>
        <pre><%= error.stack %></pre>
    </section>
<%- include('footer') -%>